<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390181479533-878rqbka53ui2q2hb5kr6iub0ah2pcas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390181479533-878rqbka53ui2q2hb5kr6iub0ah2pcas</string>
	<key>API_KEY</key>
	<string>AIzaSyAI32fZdLgHitl_mT8Ba2jXnOPegxdXowQ</string>
	<key>GCM_SENDER_ID</key>
	<string>390181479533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.dumbun.myNotes</string>
	<key>PROJECT_ID</key>
	<string>my-notes-lkjdld</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-lkjdld.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390181479533:ios:f6eb379679fb40f14a8b64</string>
</dict>
</plist>